@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap");
:root {
  font-size: 10px;
  box-sizing: border-box;
  --color-primary: #93328E;
  --color-primary-light: #C998C7;
  --color-secondary: #00B5E2;
  --color-dark: #545454;
  --color-light:#f6f6f6;
  --color-green: #C4D600;
  font-family: 'Asap', sans-serif;
  background-color: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.bg1 {
  background-image: url(../images/bg1.jpeg);
  padding: 4rem; }

.bg2 {
  background-image: url(../images/bg2.png);
  margin-top: -20rem;
  background-size: 100vw;
  background-position: top;
  background-repeat: no-repeat;
  max-width: 100vw;
  padding: 0 6.4rem;
  padding-top: 20rem;
  padding-bottom: 20rem;
  margin-bottom: 20rem; }

.bg3 {
  margin-top: -35rem;
  padding-top: 5rem;
  padding-bottom: 16.5rem;
  position: relative;
  z-index: 10; }
  .bg3 > img {
    position: absolute;
    z-index: -10;
    opacity: .8;
    width: 100vw;
    height: 83.1rem;
    min-height: 831px; }
  .bg3 .product {
    padding: 0 6.4rem;
    padding-top: 8rem; }

.dashed {
  border: 4px dashed var(--color-secondary); }

.circle {
  border-radius: 100%; }

.btn, .btn-small, .btn-outline, .btn-shadow {
  display: inline-block;
  background-color: #fff;
  min-height: 4rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  border: 0;
  border-radius: 2.4rem;
  font-family: 'Asap', sans-serif;
  color: #000;
  outline: none;
  cursor: pointer; }
  .btn.btn-primary, .btn-primary.btn-small, .btn-primary.btn-outline, .btn-primary.btn-shadow {
    background-color: var(--color-primary);
    color: #fff;
    font-size: 2.8rem; }
  .btn-small {
    padding: .8rem; }
  .btn-outline {
    border: 2px solid var(--color-primary); }
    .btn-outline-white {
      border: 2px solid #fff; }
  .btn-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.text-white {
  color: var(--color-light); }

.text-primary {
  color: var(--color-primary); }

.text-secondary {
  color: var(--color-secondary); }

.text-green {
  color: var(--color-green); }

:root {
  font-size: 10px;
  --secondary-color: #CEDC00;
  --primary-color: #93328E;
  --tertiary-color: #00B5E2; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 90%;
  margin: 0 auto; }

.icon {
  max-width: 48px; }

.header--client .header__top {
  max-height: 3.5rem;
  height: 3.5rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  color: white; }

.header__city {
  display: flex;
  align-items: center; }

.header__city p {
  font-size: 1.8rem;
  font-weight: 700; }

.header__city select, option {
  background-color: var(--primary-color);
  padding: 0 1.5rem;
  margin-left: 1.5rem;
  color: var(--secondary-color);
  outline: 0;
  border: 0;
  font-size: 1.8rem; }

.header__contact {
  display: flex;
  /* justify-content: center; */
  align-items: center; }

.header__contact .icon {
  width: 26px;
  margin: 0 2rem; }

.header__contact span {
  font-size: 1.8rem; }

.header__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 135px; }

.header__bottom .nabvar {
  width: 43vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.header__bottom .nabvar .nabvar__search input {
  border: 0;
  width: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  outline: none;
  padding: 2rem;
  border-radius: 20px;
  font-size: 1.5rem;
  height: 100%; }

.header__bottom .nabvar .nabvar__search .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: var(--secondary-color);
  padding: 3rem;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  position: absolute;
  z-index: 9999;
  right: -5px;
  top: -5px; }

.header__bottom .nabvar .nabvar__search {
  /* display: flex; */
  position: relative;
  height: 50px;
  /* overflow: hidden; */ }

.header__bottom .nabvar .nabvar__links {
  margin-top: 2rem;
  display: flex;
  align-items: flex-end;
  list-style: none; }

.header__bottom .nabvar .nabvar__links .navbar__item {
  margin: 1rem;
  border-bottom: 5px solid #ffffff00;
  font-size: 1.5rem; }

.header__bottom .nabvar .nabvar__links .navbar__item.active {
  border-bottom: 5px solid var(--tertiary-color); }

.header__bottom .nabvar .nabvar__links .navbar__item a {
  color: var(--tertiary-color);
  text-decoration: none; }

.header__bottom .header__interaction {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.header__bottom .header__interaction .icon {
  width: 42px; }

.button {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: 0;
  border-radius: 10px;
  color: #fff; }

.button.button-green {
  background-color: var(--secondary-color);
  font-weight: 600; }

.button.button-outline-green {
  border: 1px solid var(--secondary-color); }

.text-primary {
  color: var(--primary-color); }

.text-secondary {
  color: var(--secondary-color); }

.text-tertiary {
  color: var(--tertiary-color); }

.services {
  max-width: calc(100vw - 300px);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 120px;
  padding: 0 .4rem; }
  .services-container {
    padding-top: 4rem; }
  .services__item {
    max-width: 288px;
    width: 288px;
    display: flex;
    justify-content: stretch; }
  .services__image {
    width: 60px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .services__image img {
      width: 100%; }
  .services__info--title {
    font-size: 2rem;
    color: var(--color-secondary);
    padding-bottom: .5rem; }
  .services__info--text {
    font-size: 1.4rem;
    color: var(--color-dark); }

.separator {
  position: relative;
  width: 0px;
  height: 40px;
  margin: 0 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.17); }

.offer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 172px;
  padding-bottom: 17rem; }
  .offer__title {
    grid-column: 1 / span 3;
    margin-top: 126px;
    margin-bottom: 87px;
    text-align: center;
    font-size: 4.8rem;
    color: var(--color-primary); }
    .offer__title span {
      position: relative; }
      .offer__title span::before {
        content: "";
        background-image: url(../images/adorno-titulo.png);
        width: 45px;
        height: 76.68px;
        background-size: 100%;
        position: absolute;
        top: -3rem;
        left: -7rem; }
      .offer__title span::after {
        content: "";
        background-image: url(../images/adorno-titulo.png);
        width: 45px;
        height: 76.68px;
        background-size: 100%;
        position: absolute;
        top: -3rem;
        right: -7rem;
        transform: rotateY(180deg); }
  .offer__item {
    display: grid;
    justify-self: center; }
    .offer__item .circle {
      width: 325px;
      height: 325px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .offer__item .circle img {
        height: 70%; }
    .offer__item .btn, .offer__item .btn-small, .offer__item .btn-outline, .offer__item .btn-shadow {
      justify-self: center;
      padding: 1.4rem 10.3rem;
      margin-top: 2.7rem; }

.product {
  display: grid;
  grid-template-columns: 75px auto 75px;
  grid-template-areas: "title title title" "iconLeft slides iconRight"; }
  .product__options {
    display: flex;
    justify-content: space-between;
    margin: 0 3.2rem;
    align-items: center; }
    .product__options-btn {
      display: flex;
      width: 10.5rem;
      background-color: #ffffff00;
      color: #fff;
      font-size: 1.4rem;
      justify-content: center;
      align-items: center; }
  .product__title {
    font-size: 4.8rem;
    margin-top: 5rem;
    margin-bottom: 8.7rem;
    grid-area: title;
    text-align: center;
    color: var(--color-primary); }
    .product__title span {
      position: relative; }
      .product__title span::before {
        content: "";
        background-image: url(../images/adorno-titulo.png);
        width: 45px;
        height: 76.68px;
        background-size: 100%;
        position: absolute;
        top: -3rem;
        left: -7rem; }
      .product__title span::after {
        content: "";
        background-image: url(../images/adorno-titulo.png);
        width: 45px;
        height: 76.68px;
        background-size: 100%;
        position: absolute;
        top: -3rem;
        right: -7rem;
        transform: rotateY(180deg); }
  .product__subtitle {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0.7rem; }
  .product__price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.3rem; }
    .product__price--offer {
      font-size: 2.4rem;
      font-weight: 600;
      color: var(--color-primary);
      margin: 0 0.3rem; }
    .product__price--normal {
      color: #c998c7;
      margin: 0 0.3rem;
      font-size: 1.6rem; }
  .product__slides {
    grid-area: slides;
    max-height: 40rem;
    display: flex;
    justify-content: space-evenly; }
    .product__slides:hover > .product__item:hover {
      background-color: var(--color-primary); }
      .product__slides:hover > .product__item:hover .product__subtitle,
      .product__slides:hover > .product__item:hover .product__price--offer {
        color: #fff; }
    .product__slides .product__item {
      width: 267px;
      border-radius: 0.8rem;
      background-color: var(--color-light);
      height: 40rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: height .6s ease;
      overflow: hidden; }
      .product__slides .product__item:hover {
        height: 45.6rem; }
    .product__slides .product__image {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.6rem 2.4rem;
      width: 100%;
      height: 271px;
      border-radius: 0.8rem;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
      .product__slides .product__image img {
        width: auto;
        height: 100%; }
    .product__slides .product__description {
      transition: height 3s ease; }
    .product__slides .product__colors {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 0 6rem;
      padding-top: 0.6rem;
      justify-content: space-evenly;
      align-items: center; }
      .product__slides .product__colors .color {
        justify-self: center;
        width: 21.57px;
        height: 21.57px;
        border-radius: 100%; }
        .product__slides .product__colors .color-01 {
          background-color: #f69e1a; }
        .product__slides .product__colors .color-02 {
          background-color: #ec441f; }
        .product__slides .product__colors .color-03 {
          background-color: #faff00; }
        .product__slides .product__colors .color-04 {
          background-color: #fc4fb7; }
  .product__icon--left {
    align-self: center;
    grid-area: iconLeft;
    cursor: pointer; }
  .product__icon--right {
    grid-area: iconRight;
    align-self: center;
    cursor: pointer; }

.velas {
  display: grid;
  grid-template-columns: 6.4rem auto 6.4rem;
  grid-template-areas: "title title title" "iconLeft content iconRight";
  width: calc(100vw - 13.6rem);
  margin: 0 auto;
  margin-bottom: 8.3rem; }
  .velas__title {
    grid-area: title;
    text-align: center;
    font-size: 4.8rem;
    margin-top: 3.6rem;
    margin-bottom: 7.5rem; }
    .velas__title span {
      position: relative; }
      .velas__title span::before {
        content: "";
        background-image: url(../images/adorno-celeste.png);
        width: 45px;
        height: 76.68px;
        background-size: 100%;
        position: absolute;
        top: -3rem;
        left: -7rem; }
      .velas__title span::after {
        content: "";
        background-image: url(../images/adorno-celeste.png);
        width: 45px;
        height: 76.68px;
        background-size: 100%;
        position: absolute;
        top: -3rem;
        right: -7rem;
        transform: rotateY(180deg); }
  .velas__item {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px; }
    .velas__item-content {
      grid-area: content;
      display: flex;
      justify-content: space-evenly; }
    .velas__item-image {
      width: 36.4rem;
      height: 22.1rem;
      display: flex;
      justify-content: center;
      align-items: stretch;
      background-color: #D6D2CF;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px; }
      .velas__item-image img {
        height: 100%; }
    .velas__item-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.4rem;
      padding: 1.2rem 3rem; }
  .velas__icon--left {
    grid-area: iconLeft;
    align-self: center; }
  .velas__icon--right {
    grid-area: iconRight;
    align-self: center; }

.birthday {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "title title title title title" "type type picture picture picture";
  width: calc(100vw - 30rem);
  margin: 0 auto; }
  .birthday > img {
    position: absolute;
    width: 100%;
    z-index: -10; }
  .birthday__title {
    grid-area: title;
    text-align: center;
    margin-top: 6.8rem;
    font-size: 4.8rem;
    color: var(--color-primary);
    margin-bottom: 7.6rem; }
    .birthday__title span {
      position: relative; }
      .birthday__title span::before {
        content: "";
        background-image: url(../images/adorno-titulo.png);
        width: 45px;
        height: 76.68px;
        background-size: 100%;
        position: absolute;
        top: -3rem;
        left: -7rem; }
      .birthday__title span::after {
        content: "";
        background-image: url(../images/adorno-titulo.png);
        width: 45px;
        height: 76.68px;
        background-size: 100%;
        position: absolute;
        top: -3rem;
        right: -7rem;
        transform: rotateY(180deg); }
  .birthday__types {
    grid-area: type;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .birthday__types .btn, .birthday__types .btn-small, .birthday__types .btn-outline, .birthday__types .btn-shadow {
      width: 40.2rem;
      background: #F7F7F7;
      padding: .8rem; }
      .birthday__types .btn .dashed, .birthday__types .btn-small .dashed, .birthday__types .btn-outline .dashed, .birthday__types .btn-shadow .dashed {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 5.9rem;
        font-size: 3.2rem;
        color: white; }
        .birthday__types .btn .dashed .birthday-icon, .birthday__types .btn-small .dashed .birthday-icon, .birthday__types .btn-outline .dashed .birthday-icon, .birthday__types .btn-shadow .dashed .birthday-icon {
          position: absolute;
          left: 1.9rem; }
        .birthday__types .btn .dashed span, .birthday__types .btn-small .dashed span, .birthday__types .btn-outline .dashed span, .birthday__types .btn-shadow .dashed span {
          display: block;
          text-align: center;
          justify-self: center; }
      .birthday__types .btn:not(.active) .dashed, .birthday__types .btn-small:not(.active) .dashed, .birthday__types .btn-outline:not(.active) .dashed, .birthday__types .btn-shadow:not(.active) .dashed {
        border-radius: 1.8rem;
        border: 2px dashed #00B5E2;
        color: #00B5E2;
        box-sizing: border-box; }
        .birthday__types .btn:not(.active) .dashed .birthday-icon svg path, .birthday__types .btn-small:not(.active) .dashed .birthday-icon svg path, .birthday__types .btn-outline:not(.active) .dashed .birthday-icon svg path, .birthday__types .btn-shadow:not(.active) .dashed .birthday-icon svg path {
          stroke: #00B5E2; }
      .birthday__types .btn.active, .birthday__types .active.btn-small, .birthday__types .active.btn-outline, .birthday__types .active.btn-shadow {
        background: #00B5E2; }
        .birthday__types .btn.active .dashed, .birthday__types .active.btn-small .dashed, .birthday__types .active.btn-outline .dashed, .birthday__types .active.btn-shadow .dashed {
          border: 2px dashed #F7F7F7;
          border-radius: 1.8rem; }
  .birthday__picture {
    grid-area: picture;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }

.footer {
  margin-top: 5.2rem;
  position: relative;
  height: 60rem;
  overflow: hidden;
  font-size: 1.6rem; }
  .footer > img {
    position: absolute;
    z-index: -10; }
  .footer-content {
    display: grid;
    grid-template-columns: 152px 1fr 1fr 1fr 1fr 152px;
    grid-template-areas: "vacio info contact about novelties vacio2" "rights rights rights rights rights rights ";
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-top: 10rem;
    height: 100%; }
  .footer .vacio {
    grid-area: vacio; }
  .footer__title {
    font-size: 3.2rem;
    margin-bottom: 3.1rem; }
  .footer__info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: info; }
    .footer__info-image {
      margin-bottom: 3rem; }
      .footer__info-image img {
        max-width: 138px; }
    .footer__info p {
      text-align: center; }
  .footer-list {
    list-style: none;
    min-height: 230px; }
    .footer-list li {
      display: flex;
      margin-bottom: 1.6rem; }
      .footer-list li a {
        text-decoration: none; }
  .footer__contact {
    align-self: self-end;
    grid-area: contact; }
  .footer__about {
    grid-area: about;
    align-self: self-end; }
  .footer__novelties {
    grid-area: novelties;
    align-self: self-end;
    font-size: 1.8rem; }
  .footer__rights {
    grid-area: rights;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    background-color: #333333;
    margin-bottom: 1.2rem;
    font-size: 1.8rem; }
    .footer__rights-right {
      box-sizing: border-box;
      display: flex;
      align-items: center; }
      .footer__rights-right p > a {
        color: #F2C94C; }
  .footer__icon {
    margin-right: 1rem; }
    .footer__icon-up {
      position: relative;
      border-radius: 8px;
      background-color: var(--color-secondary);
      padding: .8rem;
      left: 10rem; }
  .footer .one, .footer .two {
    width: 152px;
    height: 100%; }

.login {
  display: grid;
  grid-template-columns: auto 43.5%;
  max-height: 100vh;
  height: 100vh; }
  .login img {
    object-fit: cover;
    height: 100vh;
    object-position: right; }
  .login__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 22.6rem; }
    .login__user-icon {
      background-color: #F2F2F2;
      border-radius: 100%;
      padding: 2.3rem;
      margin-bottom: 3.3rem; }
    .login__user h2 {
      font-size: 2.4rem;
      padding-bottom: 4.2rem; }
  .login__form-container {
    max-width: 36.1rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center; }
    .login__form-container .forgot {
      font-size: 1.4rem;
      margin: 1rem 0; }
    .login__form-container .return {
      margin-top: .8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-size: 1.8rem; }
  .login__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; }
  .login .form-control input, .login .btn, .login .btn-small, .login .btn-outline, .login .btn-shadow {
    width: 36.1rem; }
  .login .form-control.checkbox {
    align-self: start; }

.form-control {
  margin: 1rem 0; }

.form-control label,
.form-control input,
.form-control textarea {
  font-size: 1.6rem;
  display: block; }

.form-control label {
  margin-bottom: 0.8rem; }

.form-control input,
.form-control textarea,
.form-control select {
  width: 100%;
  min-height: 4rem;
  font: inherit;
  border: 1px solid #BDBDBD;
  padding: 0.5rem .75rem;
  background: #F6F6F6;
  border-radius: 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }

.form-control input:focus,
.form-control textarea:focus,
.form-control select:focus {
  outline: none;
  background: #ebebeb;
  border-color: #93328E; }

.form-control--invalid label,
.form-control--invalid p {
  color: red;
  text-align: center; }

.form-control--invalid input,
.form-control--invalid textarea,
.form-control--invalid select {
  border-color: red;
  background: #ffd1d1; }

.form-control.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end; }

.form-control.checkbox input {
  width: auto;
  min-height: 1.8rem;
  margin-right: 1rem; }

.signup {
  max-width: 75.1rem;
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "email password" "documentType document" "name lastName" "city address" "telephoneType telephone" "terms terms" "text text" "button button" "forgot forgot"; }
  .signup__title {
    grid-area: title;
    text-align: center;
    font-size: 4.8rem; }
  .signup .form-control {
    width: 100%;
    max-width: 36.4rem;
    justify-self: center; }
    .signup .form-control:nth-child(2) {
      grid-area: email; }
    .signup .form-control:nth-child(3) {
      grid-area: password; }
    .signup .form-control:nth-child(4) {
      grid-area: documentType; }
    .signup .form-control:nth-child(5) {
      grid-area: document; }
    .signup .form-control:nth-child(6) {
      grid-area: name; }
    .signup .form-control:nth-child(7) {
      grid-area: lastName; }
    .signup .form-control:nth-child(8) {
      grid-area: city; }
    .signup .form-control:nth-child(9) {
      grid-area: address; }
    .signup .form-control:nth-child(10) {
      grid-area: telephoneType; }
    .signup .form-control:nth-child(11) {
      grid-area: telephone; }
    .signup .form-control:nth-child(12) {
      grid-area: terms;
      justify-self: start;
      max-width: 100%;
      margin: 2.5rem 0; }
  .signup p {
    grid-area: text;
    font-size: 1.8rem;
    margin-bottom: 3.2rem; }
  .signup .btn, .signup .btn-small, .signup .btn-outline, .signup .btn-shadow {
    grid-area: button;
    justify-self: center;
    font-size: 1.8rem;
    max-width: 72.8rem; }
  .signup > a {
    grid-area: forgot;
    margin-top: 1.9rem;
    font-size: 1.6rem;
    justify-self: center; }
