.footer {
  margin-top: 5.2rem;
  position: relative;
  height: 60rem;
  overflow: hidden;
  font-size: 1.6rem;
  & > img {
    position: absolute;
    z-index: -10;
  }
  &-content {
    display: grid;
    grid-template-columns: 152px 1fr 1fr 1fr 1fr 152px;
    grid-template-areas: "vacio info contact about novelties vacio2" "rights rights rights rights rights rights ";
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-top: 10rem;
    height: 100%;
  }
  .vacio {
    grid-area: vacio;
  }
  &__title {
    font-size: 3.2rem;
    margin-bottom: 3.1rem;
  }
  &__info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: info;
    &-image {
      margin-bottom: 3rem;
      img {
        max-width: 138px;
      }
    }
    p {
      text-align: center;
    }
  }
  &-list {
    list-style: none;
    min-height: 230px;
    & li {
      display: flex;
      margin-bottom: 1.6rem;
      a {
        text-decoration: none;
      }
    }
  }
  &__contact {
    align-self: self-end;
    grid-area: contact;
  }
  &__about {
    grid-area: about;
    align-self: self-end;
  }
  &__novelties {
    grid-area: novelties;
    align-self: self-end;
    font-size: 1.8rem;
  }
  &__rights {
    grid-area: rights;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    background-color: #333333;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    &-right {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      p>a {
        color: #F2C94C;

      }
    }
  }
  &__icon{
    margin-right: 1rem;
    &-up {
      position: relative;
      border-radius: 8px;
      background-color: var(--color-secondary);
      padding: .8rem;
      left: 10rem;
    }
  }
  
  & .one , .two {
    width: 152px;
    height: 100%;
  }
}
