.login {
  display: grid;
  grid-template-columns: auto 43.5%;
  max-height: 100vh;
  height: 100vh;
  
  img {
    object-fit: cover;
    height: 100vh;
    object-position: right;
  }
  &__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height:22.6rem;
    &-icon {
      background-color: #F2F2F2;
      border-radius: 100%;
      padding: 2.3rem;
      margin-bottom: 3.3rem;
    }
    & h2 {
      font-size: 2.4rem;
      padding-bottom: 4.2rem;
    }
  }
  &__form {
    &-container{
      max-width: 36.1rem;
      justify-self: center;
      // padding: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;

      & .forgot{
        font-size: 1.4rem;
        margin: 1rem 0 ;
      }

      & .return {
        margin-top: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1.8rem;
      }
    }
  }

  &__input {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
    }
  }

  & .formulario-control input, .button {
    width: 36.1rem;
  }

  & .formulario-control.checkbox {
    align-self: start;

    input {
      width: auto;
    }
  }

}
