.button {
  // font: inherit;
  display: inline-block;
  // background-color: #fff;
  // padding: 1.4rem;
  
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none;
  border: 0;
  border-radius: 2.4rem;
  font-family: 'Asap', sans-serif;
  color: #000;
  outline: none;
  cursor: pointer;
  &-primary {
    min-height: 4rem;
    background-color: var(--color-primary);
    color: #fff;
  }
  &-small {
    @extend .button ;
    padding: .8rem;
    width: auto;
    display: flex;
  }
  &-big {
    @extend .button ;
    font-size: 2.8rem;
  }
  &-outline {
    @extend .button ;
    border: 2px solid var(--color-primary);
    &-white {
      border: 2px solid #fff;
    }
  }
  &-shadow {
    @extend .button ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  // background: #ff4382;
  opacity: .9;
  border-color: #ff4382;
}

.button--inverse {
  background: transparent;
  color: #ff0055;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #ff0055;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}